<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishGuard AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡️ PhishGuard AI</h1>

    <p>
        AI-Powered Scam Detection System
    </p>

    <div class="button-container">

        <a href="/email">
            <button>Email Shield</button>
        </a>

        <a href="/url">
            <button>URL Shield</button>
        </a>

        <a href="/sms">
            <button>SMS Shield</button>
        </a>

    </div>

</div>

</body>
</html>